body {
  background-color: #fafafa;
}
.search-bar {
  margin-top: 20px;
}
.selected-option {
  font-weight: bold;
  font-size: 0.9em !important;
}
.paper-padding {
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 30px;
}
.section-title {
  font-size: 1.5em;
  margin-top: 20px;
  color: purple;
}
.danger {
  color: rgb(196, 0, 0);
}
.info {
  color: rgb(30, 125, 220);
}
.question {
  padding: 0px 35px 0px 15px;
  font-size: 0.9em;
}
.question-answer {
  display: flex;
  justify-content: center;
}
.question-row {
  padding: 40px 10px;
  border-bottom: 1px solid #eee;
}

.date-formatted {
  font-size: 1.2em;
  padding: 10px 0px 30px 0px;
  display: flex;
  justify-content: flex-end;
  align-items: stretch;
}
.yesno {
  font-size: 0.8em;
}
.header-container {
  margin-top: 20px;
}

.details {
  display: flex;
  align-items: center;
}
.athlete-name {
  font-size: 1.4em;
  padding-right: 10px;
  color: rgb(30, 125, 220);
}
.athlete-group {
  padding-right: 10px;
  color: #ccc;
}

.footer {
  padding: 30px 20px;
  display: flex;
  justify-content: flex-end;
}

.password {
  margin-right: 20px !important;
  text-align: center;
  width: 150px;
}
.add-new-name {
  display: flex;
  justify-content: flex-end;
  padding: 20px 0px;
}
.info.disclaimer {
  display: flex;
  flex-direction: row;
  align-items: center;
  & > div {
    padding: 5px;
  }
}
.breadcrumb-container {
  display: flex;
  justify-content: flex-start;
  font-size: 0.8em;
  .breadcrumb-button {
    padding: 2px 10px 2px 0px;
    border-radius: 3px;
    cursor: pointer;
    &:hover {
      background-color: rgba(0, 0, 0, 0.1);
    }
  }
}

.date-picker-container {
  display: flex;
  justify-content: flex-end;
}
.breadcrumb-button {
  display: flex;
}
.add-person-icon {
  color: rgba(0, 0, 255, 0.3);
  margin-right: 10px;
}
.answered-yes {
  color: red;
  font-weight: bold;
}
.danger .MuiOutlinedInput-notchedOutline {
  border: 1px solid red !important;
}
.clear-filter-button {
  position: absolute !important;
  right: 15px;
  top: 5px;
}
@media screen and (max-width: 600px) {
  .question-answer {
    margin-top: 20px;
  }
  .question-answer > div {
    width: 107px;
  }
  .question-answer > div > label {
    width: 100%;
  }
  .question {
    padding: 15px;
    text-align: center;
  }

  .date-formatted {
    justify-content: center;
  }
  .title {
    margin-top: 20px;
    text-align: center;
  }
  .add-new-name {
    display: flex;
    justify-content: center;
    padding: 20px 0px;
  }
}
.form-row {
  margin: 15px 0px;
  display: flex;
  justify-content: space-around;
}
