.paper-padding {
  padding: 20px;
  margin-top: 20px;
}
.section-title {
  font-size: 1.5em;
  margin-top: 20px;
  color: purple;
}
.danger {
  color: rgb(196, 0, 0);
}
.question {
  flex: 1;
  padding: 0px 15px;
  font-size: 0.9em;
}
.question-row {
  display: flex;
  flex-direction: row;
  padding: 15px 10px;
  margin-bottom: 15px;
  border: 1px solid #eee;
  border-left: 3px solid black;
}
.date-formatted {
  font-size: 1.5em;
  padding: 10px 0px 30px 0px;
  text-align: center;
}
.yesno {
  font-size: 0.8em;
}
