.paper-padding {
  padding: 20px;
  margin-top: 20px;
}
.section-title {
  font-size: 1.5em;
  margin-top: 20px;
  color: purple;
}
.question-row {
  display: flex;
  flex-direction: row;
  padding: 15px 10px;
  margin-bottom: 15px;
  border: 1px solid #eee;
  border-left: 3px solid black;
}
.date-formatted {
  font-size: 1.5em;
  padding: 10px 0px;
}
.yesno {
  font-size: 0.8em;
}
